<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Country Calling Codes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script><link rel="icon" type="image/x-icon" href="favicon.ico">
	
</head>
  <body>
	
    <div class="container"  ng-app='CountryCall'>
	<h3 align="center" class="display-3">Country Code Calling Search</h3>
	<br/>
	<div class="input-group">

       <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		<input class="form-control bg-light text-dark" type="text" placeholder= "Please Search Here" ng-model="search" width="80%"/>
	</div>
	<br/>
       <table ng-controller='CountryController' width="80%" class="table table-striped table-hover">
		<thead >
			<tr>
				<th scope="col"> flag</th>
				<th scope="col"> Name </th>
				<th scope="col"> Shoutcut </th>
				<th scope="col"> calling code </th>
			</tr>
		</thead>
			<tr ng-repeat="x in countries | filter : search">
				<td>  <img src="flags/Flag_of_{{x.flag}}.png" width="15%" height="10%"></td>
				<td>{{x.name}}</td>
				<td>{{x.short}}</td>
				<td>{{x.code}}</td>
			</tr>

		</table>

        
    </div>
  </body>
</html>